html{
  font-size:14px;
}
body{
  font-size:14px;
  margin:0;
  padding:0;
  color:transparent;
  font-family: Helvetica, Arial ,sans-serif;
  line-height: 1.5;
  }

html {
  position:static;
}

html, body{
  height: 100%;
  width: auto;
}

.theme--tp body {
  color: #333;
  background-color: #f5f7f7;
}

.hidden {display: none}

body .surf_nav{
  background-color: transparent;
  }

.theme--tp body .surf_nav{
  background-color:#000;
  }

#slider-materail{
  position: relative;
  z-index:2;
  background:transparent;
  }

.app-loading-mark{
  height: 1.72rem;
  width: 1.72rem;
  margin-left: -0.86rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  }

  .app-loaded .app-loading-mark{
    display: none;
    }

#pages_area_width_streamer-wrapper {
  position: absolute;
  left:0;
  right: 0;
  z-index: -10;
  visibility: hidden;
  }
  #pages_area_width_streamer {
    width: 100%;
    border: 0;
    height: 1px;

    }


.big_spinner:after {
  position: absolute;
  top:0;
  left:0;
  content: url(../i/spinner.svg);
  height: 1.72rem;
  width: 1.72rem;
  pointer-events: none;
}

.small_spiner:after {
  position: absolute;
  top:0;
  left:0;
  content: url(../i/spinner.svg);
  height: 1.143rem;
  width: 1.143rem;
  pointer-events: none;
}

.keys-navigation-focus{
  box-shadow: 0 0 3pt 2pt orange;
  }
